<div class="navbar">
    <h1>School Name Here</h1>

    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <button routerLink="/login">Log-In</button>
    </ul>
</div>

<div class="landing-content">
    <img src="" alt="school-logo" />
    <h2>School Name Here</h2>
    <p>School Motto or Tagline Here</p>
    <button routerLink="/login">Log-In</button>
</div>

<div class="footer">
    <p>&copy; 2025 School Name. All rights reserved. </p>
    <p> Kamaso Bits Inc</p>
</div>